@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.ham {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed; 
    top: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .hamRotate.active {
    transform: rotate(45deg);
  }
  
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  
  .ham3 .top {
    stroke-dasharray: 40 130;
  }
  
  .ham3 .middle {
    stroke-dasharray: 40 140;
  }
  
  .ham3 .bottom {
    stroke-dasharray: 40 205;
  }
  
  .ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
  }
  
  .ham3.active .middle {
    stroke-dashoffset: -102px;
  }
  
  .ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
  }
  
  .menu {
    position: fixed;
    top: 70px; /* Ensure the menu is just below the icon */
    right: 20px;
    background-color: None;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    box-shadow: None; /* Optional: Add a subtle shadow */
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .menu ul li {
    margin: 10px 0;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Fredoka One', sans-serif; /* Use the cute font */
    transition: color 0.3s ease;
  }
  
  .menu ul li a:hover {
    color: #FFCF4D; /* Change to a cute pink color on hover */
  }
  
